$accent_material_light: #f44336;
$primary_dark_material_light: #d34a00;
$primary_material_light: #ff6600;
$background_material_light: #ededed;
$white: #ffffff;
$black: #000000;
$black_lighter: rgba(65, 65, 65, 0.86);
$primary_material: #9b9b9b;

html,
body {
  height: 100%;
  background-color: $background_material_light;
}

.jumbotron {
  margin-bottom: 0;
}

hr {
  border-top: 1px solid $black;
}

#app {
  height: 100%;
}

.navbar {
  background-color: $primary_material_light;
  border-color: $accent_material_light;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $background_material_light;
}

.navbar-inverse .navbar-brand {
  color: $black;
}

.navbar-inverse .navbar-brand:hover {
  color: $black_lighter;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: $accent_material_light;
}

table {
  table-layout: fixed
}

.btn {
  white-space: normal
}

td, th > .description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  cursor: default;
}

.not_first:hover {
  background-color: $primary_material !important;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.image {
  max-width: 200px;
  padding: 10px;
}

.imageSmall {
  max-width: 75px;
  padding: 2px;
}

.box {
  border: 1px solid $primary_material;
  padding: 10px;
}

.icon {
  max-width: 20px;
  margin-right: 5px;
}

.commentContent {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

.star {
  font-size: 30px;
  cursor: pointer;
}

.commentDate {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  border: 1px solid $primary_material_light;
  background-color: $primary_material;
  color: $white;
  border-bottom: hidden;
  font-size: 12px;
}

.commentText {
  padding: 5px;
  border-radius: 0 0 10px 10px;
  border: 1px solid $primary_material_light;
  border-top: hidden;
  background-color: $white;
  color: $black_lighter;
}

//#search {
//  margin-right: 5px;
//}


#search {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 2px 20px 2px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-left: -25px;
}

.searchIcon{
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
}

#search:focus {
  width: 30%;
}


.search {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px;
}